@tailwind base;
@tailwind components;
@tailwind utilities;

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
	display: none;
}

.scrollbar-hide {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

.searchbar {
	grid-template-columns: auto 1fr auto;
}

.infobar {
	grid-template-columns: auto 1fr auto auto;
}

.popup-content {
	top: 50vh;
	left: 50%;
	position: fixed !important;
	transform: translate(-50%, -50%);
	@apply w-full h-[100vh] sm:h-auto max-w-2xl p-4 pb-5 mt-8 bg-white rounded-lg xl:max-w-4xl;
}

@supports (height: 100svh) {
	.popup-content {
		height: 100svh;
	}
}

.popup-content-container {
	grid-template-columns: 1fr auto;
	grid-template-areas:
		"info"
		"maps"
		"footer";
	grid-template-rows: auto auto 1fr;
	row-gap: 20px;
	display: grid;
	height: 100%;
}

@media screen(sm) {
	.popup-content-container {
		grid-template-columns: 1fr auto;
		grid-template-rows: auto auto;
		grid-template-areas:
			"info maps"
			"footer footer";
	}
}

.googlemaps {
	grid-area: maps;
}

.footer {
	grid-area: footer;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
}

.popup-overlay {
	@apply bg-gray-500 bg-opacity-50;
}
